@tailwind base;
@tailwind components;
@tailwind utilities;

.img {
  @apply object-cover w-full h-full;
}

.scale-animation {
  @apply hover:scale-125 transition-all duration-700;
}

.btn-primary {
  @apply px-6 md:px-[40px] lg:px-[60px] py-3 md:py-4 bg-primary rounded-lg md:rounded-xl shadow-sm shadow-primary text-white font-bold text-sm md:text-lg hover:scale-105 duration-300 transition-all active:scale-95;
}

.btn-tertiary {
  @apply px-6 md:px-[40px] lg:px-[60px] py-3 md:py-4 bg-tertiary-light rounded-lg md:rounded-xl shadow-sm shadow-tertiary-light text-white font-bold text-sm md:text-lg hover:scale-105 duration-300 transition-all active:scale-95;
}

.font-heading {
  @apply font-bold md:font-black text-2xl sm:text-3xl md:text-5xl lg:text-6xl;
}

.font-normal {
  @apply text-sm md:text-base leading-relaxed;
}
